@import url(./reset.css);

/* ====================================
    Globals
===================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    color: #444444;
    line-height: 1.4;
}

/* ====================================
    ClearFix 
===================================== */

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ====================================
    Resuable & Flexible Layout
===================================== */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
}

main .container {
    background-color: #fff;
}

.col {
    float: left;
}

.col-1-4 {
    width: 25%;
    padding: 60px 10px;
}

.col-1-2 {
    width: 50%;
    padding: 0 10px;
}
/* ====================================
    Typography
===================================== */

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    color: #333333;
    text-align: center;
    margin: 25px 0 10px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

p,
blockquote {
    margin: 20px;
}

blockquote {
    width: 75%;
    margin: 0 auto;
}

/* ====================================
    Links
===================================== */

.article-nav a {
    text-decoration: none;
    color: #444;
}

p,
blockquote,
a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ====================================
    custom css
===================================== */

img {
    width: 100%;
}

